/* Body */

.student-photo {
	width: 80%;
	margin: 2em auto;
	padding: 1em 0;
	background-color: $color-three;
    
    img{
    width: 50%;
	border-radius: 100%;
    }
    
    @include medium{
        float: right;
		width: 40%;
    }
}

.student-info	{
    @extend %space-pad;
    @extend %clearfix;
	margin-bottom: 2%;
    
    p{
    font-size: $font-size-medium; 
        
        @include medium{
            display: block;
		    float: left;
		    width: 50%;
		    text-align: left;
		    margin-top: 4em;
        }
    }
}

.portfolio-item {
	@extend %b-margin;
    
    p{
    @extend %b-margin;
	padding: 0 4%; 
    }
    
    @include medium{
        width: 46%;
		display: inline-block;
		margin-right: 1%;
		vertical-align: top;
    }
    
    @include large{
        width: 30%;
		margin-right: 2%;
    }
}