%centered{
    text-align: center;
}

%space-pad{
    padding: 3%;
}

%t-border{
    border-top: 1px solid $medium-grey;
}

%b-margin{
    margin-bottom: 8%;
}

// Clearfix

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}